html {
  height: 100%;
}

body {
  background-image: linear-gradient(to top right, #b537f2, #8a2be2, #3cb9fc);
  background-repeat: no-repeat;
  height: max-content;
  background-size: cover;
  background-position: center;
  margin: 0;
}

@media screen and (max-width: 531px) {
  body {
    background-image: linear-gradient(to top right, #b537f2, #8a2be2, #3cb9fc);
  }
}
